input.name {
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
}

input.add {
  background: aliceblue;
  border: 2px solid mediumblue;
  border-radius: 20px;
  color: mediumblue;
  font-size: 20px;
  padding: 10px;
}

.delete {
  background: #000000;
  border: 0px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  height: 20px;
  margin: 10px;
  width: 20px;
}

.inputWraper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.negative {
  color: #ff0000;
}

.player {
  font-family: cursive;
  font-size: 20px;
  margin: 10px;
}

.playerBox {
  border: 1px solid mediumblue;
  border-radius: 10px;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.playerChange {
  font-size: 20px;
  text-align: center;
  width: 100px;
}

.playerModifierRow {
  display: flex;
}

.playerNameRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerScoreRow {
  display: flex;
  font-family: monospace;
  font-size: 30px;
  justify-content: center;
  margin: 20px;
}

.playersWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#scores {
  display: flex;
  flex-direction: column;
}
